<li class="contact-list" [class.favourite]="contacto().isFavorite===true">
    
    <span>{{contacto().Firstname}}{{contacto().lastname}}</span>
    <span>{{contacto().number}}</span>
    <span>{{contacto().email}}</span>
    <span>{{contacto().image}}</span>
    <span>-</span>
    <span>
        <button (click)="openDeleteModal()">Borrar</button>
        <a [routerLink]="['/contacts',contacto().id, 'edit']">Editar </a>
    
    </span>
    <span>
        @if (contacto() .isFavorite == true ){
            ⭐️
        }
    </span>
</li>



